@import "./frontend/src/scss/common/variables";
@import "./frontend/src/scss/common/mixin";

.article {
  border: 1px solid $color-gray;
  transition: all .3s;
  &:hover {
    box-shadow: 6px 6px 0 rgba($color-main, .5);
  }
}

.articleInner {
  display: flex;
  min-width: 100%;
}

.articleContentWrap {
  padding: 1em;
}

.articleContentLink {
  color: $color-base;
  text-decoration: none;
  cursor: pointer;
}

.articleTags {
  max-width: 100%;/* IE11 */
  padding: 1em;
  border-top: 1px dashed $color-gray;
}

.articleImgWrap {
  @include aspect-ratio(100%, 80%);
  @include bp(xs) {
    @include aspect-ratio(100%, 68%);
  }
}

.articleImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.articleTitle {
  font-size: $font-size-base;
  margin: 0;
  @include bp(xs) {
    margin-top: .5em;
  }
}

.articleDate {
  font-size: $font-size-sm;
  text-align: right;
  @include bp(xs) {
    margin-top: .5em;
  }
}

.tagWrap {
  display: inline-block;
}

.tag {
  display: block;
  font-size: $font-size-sm;
  padding: .2em .5em;
  margin: 0 .5em .5em 0;
  border: 1px solid $color-gray;
  text-decoration: none;
  color: $color-base;
}

.tagIcon {
  @include icon-font("Font Awesome 5 Free");
}
