@import "./src/scss/common/variables";
@import "./src/scss/common/mixin";

.telWrap {
  padding: 1em;
  margin-bottom: 3em;
  border-bottom: 1px solid lighten($color-base, 60%);
}

.formWrap {
  margin: 2em 0;
}

.fieldsetWrap {
  padding: 2em;
}
