.campus-item {
  @include aspect-ratio(100%, 60%);
  margin-top: 2.5em;
}

.campus-link {
  text-decoration: none;
}

.campus-textWrap {
  position: absolute;
  left: .5em;
  right: .5em;
  bottom: .5em;
}

.campus-text {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: .2em .5em;
}

.campus-text-month {
  position: absolute;
  z-index: 1;
  top: -1em;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 5em;
  color: $color-sub1;
  text-shadow: 3px 3px 0 #fff;
}

.campus-text-upper {
  position: absolute;
  bottom: 102%;
  width: 100%;
  border-bottom: 3px solid currentcolor;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.25em;
  line-height: 1;
  color: $color-main;
  padding-bottom: .3em;
}
