[Unit]
Description=docker-compose c4c service
Requires=docker.service
After=docker.service

[Service]
Type=simple

ExecStartPre=-/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml kill
ExecStartPre=-/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml rm -v -f
ExecStartPre=-/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml down

ExecStart=/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml up -d --force-recreate

#ExecStop=/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml stop
#ExecStopPost=-/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml rm -v -f
#ExecStopPost=-/usr/bin/docker-compose -f /home/kaizumaki/create-dialogue-django/docker-compose.prod.yml down

Restart=always
RestartSec=180s

[Install]
WantedBy=multi-user.target
