{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ライタソンプラットフォーム</title>
  <link rel="stylesheet" href="{% static "frontend/main.css" %}">
</head>
<body>
  <div class="layout-container">
    <main>
      <div id="app"></div>
    </main>
  </div>
</body>

<script src="{% static "frontend/vendor.bundle.js" %}"></script>
<script src="{% static "frontend/main.bundle.js" %}"></script>

</html>
