@import "./frontend/src/scss/common/variables";
@import "./frontend/src/scss/common/mixin";

.checkbox {
  &:invalid {
    box-shadow: none;
  }
}

.label {
  padding: 0 .5em;
}

.red {
  color: $color-red;
}

.blue {
  color: $color-blue;
}
